main.container.question {
  width: 80%;
}

header.signup {
    h1 {
      font-weight: lighter;
    }
}


.main-content {
  box-sizing: border-box;
  display: block;
}

h2.question {
  border-bottom: 1px solid #e6e6e6;
  padding-top: 2%;
  padding-bottom: 1%;
  font-weight: normal;
}

article.question-content {
  outline: 1px solid #000000;
  width: 100%;
  padding-bottom: 30%;

  .votes-section {
    outline: 1px solid #000000;
    width: 7%;
    float: left;
    text-align: center;
    display: block;

        .thumbs-up::before {
          content: "\f164";
          color: #808080;
          display: block;
        }

        .thumbs-down::after {
          content: "\f165";
          color: #808080;
          display: block;
        }

        p {
          font-size: 15pt;
          color: #808080;
          font-family: Arial;
          margin: 12px auto;
        }

        .star::after {
          font-size: 20pt;
          content: "\f005";
          color: #e6e6e6;
          display: block;
          clear: both;
          margin-top: 16px;
        }

  }

  section.details {
    outline: 1px solid #000000;
    margin-left: 1%;
    float: left;
    display: block;
    width: 60%;

      p {
        font-size: 11pt;
        margin-top: 0;
      }

  }

}
